*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
      padding: 20px;
      text-align: center;
      background-color: #92d3f2;
}

main {
     background-color: rgb(233, 239, 148);
}
.intro {
    padding: 20px;
}

.cards-container {
    padding: 20px;
}

.cards-container article {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #ccc;
}

@media (min-width: 768px) {
    .cards-container article {
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }
}

footer {
    margin-top: 24px;
    text-align: center;
}
